* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    animation-name: outer;
    animation-iteration-count: infinite;
}

.card {
    width: 575px;
    height: 298px;
    position: relative;
    top: -64px;
    left: -341px;
    border-radius: 31px;
    cursor: pointer;
}

.cardinner {
    width: 575px;
    height: 298px;
    position: relative;
    top: 140px;
    left: 397px;

    border-radius: 31px;
}

.front {
    width: 575px;
    height: 298px;
    position: absolute;
    top: 74px;
    left: 397px;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    border-radius: 31px;
    z-index: 1;
}

.chip {
    padding: 0px;
    width: 58px;
    position: relative;
    left: 25px;
    top: 21px;
    animation-name: pulse;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;



}

.visa {
    width: 73px;
    position: relative;
    left: 417px;
    top: -1px;
}

.map {
    width: 500px;
    position: absolute;
    top: 6px;
    left: 12px;
    z-index: -1;
}

.card-no {
    font-family: 'Raleway', sans-serif;
    color: burlywood;
    font-size: 34px;
    position: absolute;
    left: 45px;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    letter-spacing: -1px;
    word-spacing: 40px;

}

.cardholder {
    font-family: 'Raleway', sans-serif;

    position: absolute;
    top: 207px;
    left: 25px;
    display: inline;
    word-spacing: 271px;
    color: burlywood;

}

.name {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 27px;
    margin-top: 169px;
    word-spacing: 390px;
    color: wheat;
}

@keyframes pulse {
    0% {
        padding: 0;
    }

    100% {
        padding: 1px;
    }

}

@keyframes outer {
    0% {
        width: 100vw;

    }

    100% {
        width: 50vw;
    }

}