*{
    padding: 0;
    margin: 0;
}
.background{
    background-color:rgb(236, 236, 16);
    background-position: center;
    max-width: 100%;
    background-size: cover;
    height: 139vh;
    
}
.container{
    width: 61vh;

}
.box{
    position:absolute;
background-color: wheat;
    width: 125vh;
    height: 75vh;
    right: 40vh;
    top: 15vh ;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}

.dp{
    padding: 0;
    display: flex;
    position:absolute;
    left: 10vh;
    top: 19vh;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19),0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    width: 42vh;


}
.red{
    background-color:rgb(236, 236, 16);
    width: 30vh;
    height: 75vh;
    color: black;
}
.gith{
    position:absolute;
    left: 2vh;
    top:2vh;
    color: black;

}
.insta{
    position:absolute;
    left: 40vh;
    top:2vh;
    color: black;

}
.cp{
    position:absolute;
    left: 75vh;
    top:2vh;
    color: black;

}
.reddit{
    position:absolute;
    left: 110vh;
    top:2vh;
}
.redd{
    width: 12vh;
}
.reddit:hover{
    padding: 1vh;

}
.abt{
    position:absolute;
    right: 3vh;
    top: 40vh;
    font-family: 'Shadows Into Light', cursive;
    font-size: 5vh;
  
}
.name{
    position:absolute;
    right: 15vh;
    top: 20vh;
    font-family: 'Jua', sans-serif;
    font-size: 6vh;
    text-decoration: none;
}
 h1:hover{
    color: red;
}
 .gith :hover{
    color: red;
}
.cp :hover{
    color: red;
}
.redd :hover{
    color: red;
    padding: 2vh;
}
.insta :hover{
    color: red;
}
.gif{

    width: 50vh;
    position:absolute;
    top: 23vh;
    left: 0vh;
}
.graph{
    width: 40vh;
    position:absolute;
    top: 26vh;
    right: 0vh;
}
.hand{
    width: 30vh;
    position:absolute;
    top: 75vh;
    right: 135vh;
}
.dp:hover{
    padding: 2vh;

}